body {
  background-color: rgb(170, 97, 97);
  margin: auto;
  padding-top: 50px;
}

#about,
#projects,
#contact {
  border-bottom: solid rgba(106, 5, 5, 1);

  color: rgb(138, 19, 19);
}

div {
  width: 100vw;
  text-align: center;
}

.h2 {
  padding-bottom: 100px;
}

#about,
#contact {
  background-color: rgba(211, 141, 141, 1);
}

#projects {
  background-color: rgb(170, 97, 97);
}

.responsive {
  /* max-width: 45%; */
  /* min-width: 400px; */
  width: 450px;
  height: auto;
  border: 3px solid rgb(156, 15, 15);
  border-radius: 5%;
  margin-top: 100px;
  margin-bottom: 25px;
}

#tag {
  margin-bottom: 175px;
}

.pixelart {
  width: 256px;
  border: 3px solid rgb(156, 15, 15);
}

/* CSS */
:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}
