h1 {
  margin: auto;
  margin-bottom: 1em;
  text-align: center;
}

/* img {
  float: left;
} */

/* The navigation bar */
#navbar {
  overflow: hidden;
  background-color: rgb(75, 124, 18);
  position: fixed; /* Set the#navbar to fixed position */
  top: 0; /* Position the#navbar at the top of the page */
  width: 100%; /* Full width */
  height: 5em;
}

/* Links inside the#navbar */
#navbar a {
  float: left;
  display: block;
  color: rgb(9, 95, 74))
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
}

/* Change background on mouse-over */
#navbar a:hover {
  background: #ddd;
  color: black;
}

a {
  margin: 1em;
  margin-bottom: 2em;
  font-size: 2em;
}

body {
  background-color: rgb(150, 66, 66);
  margin-top: 2em;
}

/* div {
  height: 30em;
} */
